SLACK_BOT_TOKEN=xoxb-example
SLACK_APP_TOKEN=xapp-example
ADO_PAT=example
ADO_ORG=bigchange
ADO_PROJECT=BigChange
ADO_TEAM=Midas
ADO_AREA_PATH=BigChange\Finance\Midas
ADO_PARENT_WORK_ITEM=00000000
ADO_TASK_TYPE=Platform Support
AI_MODEL_ID=eu.amazon.nova-micro-v1:0